/Power BI/Dax in report.txt
/SSIS/CreateWorkOrders/CreateWorkOrders/CreateWorkOrders.dtproj.user
/SSIS/CreateWorkOrders/CreateWorkOrders_ERROR_OUT.txt
/SSIS/CreateWorkOrders/CreateInfrasWorkOrders_ERROR_OUT.txt
/SSIS/AdaptWorkOrders/AdaptWorkOrders/AdaptWorkOrders.dtproj.user
/SSIS/AdaptWorkOrders/AdaptWorkOrders/error_adapt_custwo.txt
/SSIS/AdaptInfrasWorkOrders/AdaptInfrasWorkOrders/AdaptInfrasWorkOrders.dtproj.user
/SSIS/AdaptInfrasWorkOrders/error_infras_adaptwo.txt
